.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

@media screen and (min-width: 768px) {
    .product img {
        max-width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .product {
        grid-template-columns: 1fr;
    }
    .product img {
        max-width: 150px;
    }
}

body {
    background-color: beige;
}

.out {
    color: red;
}

